<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AlertaSGIDataBaseContext" connectionString="Data Source=10.100.120.145; Initial Catalog=SGI_NEW;User ID=sqlsa;Password=electroperu$1; Persist Security Info=True; Connect Timeout=30000;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>